
{% extends 'base.html.twig' %}

{% block title %}
    {{  parent() }}Foro Principal
{% endblock %}

{% block body %}
    <div class="tabs-panel is-active">

                <div style="margin-bottom: 100px"> {{ post.Title }}</div>
                <div> {{ post.Content|raw }}</div>
                <div> {{ post.score }}</div>


    </div>
{% endblock %}